body {
    height: 100vh;
}

main {
    height: 95vh;
}

/* add some styles for your cool navbar !*/
nav {
    height: 15vh;
    background-color: lightcoral;
}

nav ul{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
    padding: 3.125rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black; 
    font-weight: bold;
    font-size: 1.5625rem;
}

header {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: 5vh;
    background-color: black;
}